version: 2
jobs:
  build:
    # docker:
    #   - image: circleci/ruby:2.4.1
    macos:
      xcode: "10.2.0"
    working_directory: ~/MiniApp
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: fastlane
          command: |
            cd MiniApp
            fastlane do_test_app --env Dev
      # - run: echo "A first hello"
